header.header
    .container
        div(class="row align-items-center") 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/client/image/NCG-1920x1200.jpg", alt="" style="width:7vw; height: calc(7vw*9/16); border:solid;")
            .col-9 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li
                            a(href="/products") Trang sản phẩm