extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-flash(messages.error)
    form(action="/admin/type/create", method="post", enctype="multipart/form-data")
        .mb-3 
            lable(for="f1",  class="form-label") Tên sản phẩm
            input(type="text", name="titile" , id="f1", class="form-control")
        .mb-3 
            lable(for="f10",  class="form-label") Danh mục cha
            select(name="parent_id", id="f10")
                option(value="", hidden, selected) --Chọn danh mục cha-- 
                - var traverseTree = (node, space)=>{
                    option(value=`${node._id}`) #{space} #{node.title}
                    -space+="-";
                    -for(var i = 0; i<node.child.length; i++){
                        -traverseTree(node.child[i], space)
                    -}
                -}
                -for(var i = 0; i<d.length; i++){
                    -if(d[i].parent_id === "")
                        -traverseTree(d[i], "");
                -}
        .mb-3
            label(for="f2", class="form-label") Miêu tả
            textarea(name="description", id="f2", class="form-control")
        .mb-3 
            label(for="f6", class="form-label") Ảnh
            input(type="file", name="thumbnail", id="f6", class="form-control", accept="image/*")
            img(src="", alt="", id="preview", style="width: 7vw; height:auto; margin-top:10px;")
        .mb-3 
            label(for="f7", class="form-label") Vị trí
            input(type="text", name="position", placeholder="Vị trí tăng tự động" ,id="f7", class="form-control")
        .form-check.form-check-inline
            input(type="radio", name="status", class="form-check-input", value="active", id="f8")
            label(for="f8", class="form-check-label") Hoạt động
        .form-check.form-check-inline
            input(type="radio", name="status", class="form-check-input", value="inactive", id="f9")
            label(for="f9", class="form-check-label") Dừng hoạt động
        .mb-3
            button(type="submit", class="btn btn-primary") Tạo mới
    script(src="/admin/js/preview-an-image.js")