extends ../../layouts/default.pug

block main
    H1 Home
    img(src="/client/image/NCG-1920x1200.jpg", alt="none", style="width:50vh; height: calc(50vh*9/16)")
    p #{dirname}
    p #{now}
    p= pathDot
    p= pathDirname
