sider.sider
    .inner-menu
        ul
            li
                a(href=prefix + "/dashboard") Tổng quan
            li
                a(href=prefix + "/products") Sản phẩm
            li
                a(href=prefix+"/products/trap")
                    i(class="fa-solid fa-trash fa-beat fa-sm" style="color: #63E6BE;")